/* * {
  margin: 0;
  padding: 0;
  border: 0;
} */

.test-entity {
  text-align: center;
}

.test-info {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-container {
  display: grid;
  justify-items: center;
}
